@import 'base';
@import 'terminal';


.Ninjaput {
	border: 0;
	padding: 0;
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	background-color: transparent;
}

menu {
	display: flex;
}
.Button,
button {
	display: inline-block;
	border: 1px solid $green;
	border-radius: 3px;
	padding: 6px 1rem 7px 1rem;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0.05em;
	background-color: $black;
	// background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 93%));
	color: $green;
	transition: color 200ms;
	&:hover {
		border-color: $lightgreen;
		color: $lightgreen;
		cursor: pointer;
	}

	menu & {
		margin: 2px;
	}

}

// menu {
// 	display: flex;

// 	> * {
// 		flex: 1;
// 	}
// }
